
-- Verificar políticas RLS para produtos
SELECT schemaname, tablename, rowsecurity 
FROM pg_tables 
WHERE tablename = 'products' AND schemaname = 'public';

-- Verificar políticas existentes
SELECT * FROM pg_policies WHERE tablename = 'products';

